html {
  height: 100%;
  font-size: 10px;
}

body {
  transition: all 0.5s ease;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  color: white;
  background-image: url("../images/grassy-field.jpg");
  background-size: cover;
}

a {
  color: #fff;
}

.grid {
  width: 70%;
  margin: 30px auto;
  position: relative;
  max-width: calc(100vh - 90px);
}

.grid:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.grid-item {
  background-color: rgba(255,255,255,0.9);
  margin: 5px;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  font-size: 72px;
  text-align: center;
  border-radius: 4px;
}

.grid-item:before {
  content: '';
  float: left;
  padding-top: 100%;
}
